.vscode/

*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
aurora_dsql_sqlalchemy/_version.py
node_modules/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
**/*/build/
**/*/box/

venv
root.pem
.env

.git

dist

temp_sdk/

coverage.xml

**/*/*_venv

**/*/migrations

*_venv/
