name: Publish Amazon Aurora DSQL dialect for SQLAlchemy Distribution to PyPI

permissions: {}

on:
  release:
    types: [published]

jobs:
  build:
    name: Build python distribution packages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - name: Build distribution packages
        run: uv build

      - name: Store the distribution packages
        uses: actions/upload-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

  publish-to-pypi:
    name: Publish Python distribution packages to PyPI
    needs:
      - build
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/aurora-dsql-sqlalchemy

    permissions:
      id-token: write # required by pypa/gh-action-pypi-publish

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v7
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
